# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
fabiomaia.eu

#root * /srv

# Enable the static file server.
file_server

log

# Another common task is to set up a reverse proxy:
# Reverse proxy
# reverse_proxy localhost:8080

basicauth /cv {
	hire JDJhJDE0JEFxTkcxRnFlRmNQVlZ4dkpVbXhDaE82RVBtNGhtdC56akttR3FvUHl3d0tVcGhSWDN1b1Rp
}

basicauth /notes {
	read JDJhJDE0JEFxTkcxRnFlRmNQVlZ4dkpVbXhDaE82RVBtNGhtdC56akttR3FvUHl3d0tVcGhSWDN1b1Rp
}
