@import url("https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css");

:root {
  --color-background: #FFF;
  --color-foreground: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #222;
    --color-foreground: #FFF;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-size: 1.3rem;
  font-family: "Computer Modern Serif", sans-serif;
}

@media only screen and (min-width: 600px) {
  body {
    max-width: 50rem;
    margin: 0 auto;
  }

  header a {
    /* css grid 3 */
    margin: 0 2rem 0 0;
    display: inline;
  }
}

header {
  padding: 2rem 0 2rem 0;

}

address {
  font-style: normal;
}

h1 { 
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
}

p { 
}

a {
  font-style: normal;
  text-decoration: underline;
  color: var(--color-foreground);
}

a:hover {
  font-style: normal;
  text-decoration: none;
  background: var(--color-foreground);
  color: var(--color-background);
}

pre {
  background: var(--color-foreground);
  color: var(--color-background);
  padding: 1rem;
}
