@import url("https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css");

:root {
  --color-background: #fff;
  --color-foreground: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #171717;
    --color-foreground: #fff;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-size: 1.1rem;
  font-family: "Computer Modern Sans", sans-serif;
}

@media only screen and (min-width: 600px) {
  body {
    max-width: 40rem;
    margin: 0 auto;
  }
}

header { 
}

address {
  font-style: normal;
}

h1 { 
  font-size: 2.3rem;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

a {
  font-style: normal;
  text-decoration: underline;
}

a:hover {
  font-style: normal;
  text-decoration: none;
  background: var(--color-foreground);
  color: var(--color-background);
}

pre {
  background: var(--color-foreground);
  color: var(--color-background);
  padding: 1rem;
}
