@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');

:root {
    --color-green: rgb(161, 222, 96);
    --color-blue: rgb(87, 200, 241);
    --color-pink: rgb(247, 100, 109);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
}

html {
    font-size: calc(1em + 0.3vw);
    font-family: 'Raleway', sans-serif;
}

body {
    color: var(--color-white);
    margin: 0;
}

a:link,
a:visited {
    color: var(--color-white);
    text-decoration: underline;
}

a:hover,
a:visited {
    color: var(--color-white);
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 320px) {
    .container {
        width: 80%;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    background: var(--color-green);
    padding: 4rem 0;
}

.header-title {
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
}

@media (min-width: 720px) {
    .header {
        padding: 5rem 0;
    }

    .header-title {
        font-size: 4rem;
    }
}


.main {
    padding: 2rem 0;
    background: var(--color-blue);
}

.footer {
    padding: 2rem 0;
    background: var(--color-pink);
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav-item {
    display: inline-block;
}

.icon > svg {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
}

.icon > svg path {
    fill: var(--color-white);
}

nav {
    display: flex;
    justify-content: center;
} 

    nav ul {
        display: flex;
    }

        nav ul a {
            padding: 1rem 2rem;
        }


.skills {
    margin: 0;
    padding: 0;
}

    .skills li {
        display: block;
        margin-bottom: 1rem;
        margin-right: 4rem;
    }

    @media (min-width: 720px) {
        .skills li {
            display: inline-block;
        }
    }

        .skills li ul {
            margin: 0;
            padding: 0;
        }

            .skills li ul li {
                background: #fff;
                color: var(--color-blue);
                margin: 0.5rem 0;
                padding: 0.2rem 0.5rem;
                display: inline-block;
            }

dl {
    padding-left: 2rem;
    margin: 1rem 0;
}

dt {
    margin-bottom: 0.5em;
    display: list-item;
    list-style-type: disc;
}

dd {
    margin-bottom: 1.5rem;
}

