/******************************************************************************
 * Base
 ******************************************************************************/

:root {
    --color-white: #FFF;
    --color-black: #111;
    --color-grey: #AAA;
    --max-font: 1em;
    --min-font: 1em;
    --max-line-height: 1em;
}

html {
    font-size: calc(0.6em + 0.5vw);
    line-height: calc(1.4em + 1.4vw);
    font-family: sans-serif;
    text-align: justify;
}

body {
    background: var(--color-white);
    color: var(--color-black);
    margin: 0 auto;
    width: 85vw;
}

@media print {
    body {
        width: 100%;
        font-size: 0.8em;
        line-height: 1.6em;
    }
}

h2 {
    border-bottom: 4px solid var(--color-black);
}

a:link, a:visited {
    color: var(--color-black);
    text-decoration: underline;
}

a:hover, a:active {
    color: var(--color-grey);
}


/******************************************************************************
 * Header
 ******************************************************************************/

.header {
    color: var(--color-black);
    padding: 2rem 0 1rem;
    text-align: center;
}

.header-title {
    font-weight: 900;
    font-size: 2rem;
    margin: 0 0 1rem 0;
}

.header-link {
    font-style: normal;
    padding: 0 1rem;
    text-decoration: none !important;
    display: inline-block;
    fill: var(--color-black);
    stroke: var(--color-black);
}

.header-link:hover {
    fill: var(--color-grey);
    stroke: var(--color-grey);
}

.icon {
    width: 1.2rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

/******************************************************************************
 * Timeline
 ******************************************************************************/

.timeline {
    margin: 1rem 0;
}
.timeline time {
    font-weight: bold;
    text-decoration: underline;
}
