html {
    background-color: $color-black;
    font-family: $fonts-base;
}

::-moz-selection {
    color: $color-white;
    text-shadow: none;
    background: $color-highlight;
}

::selection {
    color: $color-white;
    text-shadow: none;
    background: $color-highlight;
}

body {
    background-color: $color-white;
    -webkit-tap-highlight-color: $color-highlight;
}
