.page {
}

.page__header {
    padding: $spacing-unit * 2;
    color: $color-black;
    background-position: bottom center;
    background-size: cover;

    h1 {
        margin: 0;
    }
}

.page__header--index {
    .page__title {
        @include font-size(98px, 1.2);
    }
}

.page__title {
    @extend .heading;
    @include font-size(28px, 1.2);
}

.page__description {
    @include font-size(24px, 1.7);
    color: lighten($color-black, 10%);
}

.page__meta {
    text-align: center;
    display: block;
    text-transform: uppercase;
    @include font-size(14px);
    color: rgba(255, 255, 255, 0.5);
}

.page__body {
    padding: $spacing-unit * 2;
    @include font-size(21px, 1.7);
    font-family: $fonts-body;
}

@include media-query(lap-and-up) {
    .page__body {
        text-align: justify;
    }
}

@include media-query(lap) {
}

@include media-query(desk) {
    .page__title {
        @include font-size(32px);
    }
}
