.header {
    background-color: $color-gray;
    background-size: cover;
    background-position: center;
    color: $color-white;
    padding: ($spacing-unit * 2) 0;
    text-align: center;
}

.header--index {
    height: 100vh;

    .wrapper {
        @include vertical-align();
    }
}

.header__logo {
    @include font-size(32px);
    @extend .heading;
    padding: ($spacing-unit * 0.5) ($spacing-unit * 1);
    color: $color-white;
    display: inline-block;

    span {
        color: $color-white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-position: center;
    }

    @include attention() {
        background: rgba(255, 255, 255, 0.6);
    }
}

@include media-query(lap) {
    .header__logo {
        padding: ($spacing-unit * 1) ($spacing-unit * 1);
        @include font-size(48px);
    }

    .header {
        padding: ($spacing-unit * 6) 0;
    }
}

@include media-query(desk) {
    .header__logo {
        padding: ($spacing-unit * 1) ($spacing-unit * 2);
        @include font-size(64px);
    }

    .header {
        padding: ($spacing-unit * 4) 0;
    }
}
