.post {
    padding: $spacing-unit * 2;
}

.post__header {
    color: $color-black;
    background-position: bottom center;
    background-size: cover;

    h1 {
        margin: 0;
    }
}

.post__header--index {
    .post__title {
        @include font-size(98px, 1.2);
    }
}

.post__title {
    @extend .heading;
    @include font-size(28px, 1.2);
}

.post__description {
    @include font-size(24px, 1.7);
    color: lighten($color-black, 10%);
}

.post__meta {
    padding-bottom: $spacing-unit * 2;
    text-align: center;
    display: block;
    text-transform: uppercase;
    @include font-size(14px);
}

.post__body {
    @include font-size(21px, 1.7);
    font-family: $fonts-body;

    img {
        text-align: center;
    }
}

@include media-query(lap-and-up) {
    .post__body {
        text-align: justify;
    }
}

@include media-query(lap) {
}

@include media-query(desk) {
    .post__title {
        @include font-size(32px);
    }
}
