.posts {
    @extend .unlist;
}

.posts__item {
    @include unstyled-link();
    background-color: $color-yellow;
    margin-bottom: $spacing-unit;
    @extend %clearfix;
}

.posts__title {
    @include font-size(24px);
    color: lighten($color-black, 10) !important;
    @extend .heading;
}

.posts__meta {
    @include font-size(14px);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $fonts-headings;
    color: $color-gray;
}

.posts__timestamp {
    float: none;
    display: block;
}

@include media-query(lap-and-up) {
    .posts__timestamp {
        float: right;
        margin-left: $spacing-unit;
    }

    .posts__title {
        float: left;
    }
}

@include media-query(desk) {

}
