.random-bg--flowers {
    background-image: url('../images/flowers.jpg');
}

.random-bg--forest {
    background-image: url('../images/forest.jpg');
}

.random-bg--mountain {
    background-image: url('../images/mountain.jpg');
}

.random-bg--valley {
    background-image: url('../images/valley.jpeg');
}
