.posts {
    @extend .unlist;
    padding: $spacing-unit * 2;
}

.posts__item {
    @include unstyled-link();
    margin-bottom: $spacing-unit;
}

.truncate-text {
    max-width:100%;
    overflow:hidden!important;
    text-overflow:ellipsis!important;
    white-space:nowrap!important;
    word-wrap:normal!important;
}

.posts__title {
    @include font-size(24px);
    @extend .heading;
    color: $color-black !important;
    display: block;

    @include attention() {
        background: $color-black;
        color: $color-white !important;
    }
}

.posts__timestamp {
    @include font-size(14px);
    text-transform: uppercase;
    font-family: $fonts-headings;
    color: $color-gray;
    letter-spacing: 1px;
    display: block;
}

@include media-query(lap-and-up) {

    .posts__title {
        float: left;
    }

    .posts__timestamp {
        float: right;
        margin-left: $spacing-unit;
    }

}

@include media-query(desk) {

}
