.nav {
    margin-top: $spacing-unit;
}

.nav__link {
    @include unstyled-link();
    @include font-size(24px);
    @extend .heading;
    display: block;
    margin-bottom: $spacing-unit;
    color: $color-white;
}

@include media-query(lap-and-up) {
    .nav__link {
        margin-right: $spacing-unit;
        display: inline-block;
        margin-bottom: 0;
    }
}

@include media-query(desk) {
}
