.nav {
	float: right;
}

.nav__link {
	@include unstyled-link();
	display: block;
	color: $color-white;
	@include font-size(24px);
	@extend .heading;

	@include attention() {
		border: none;
	}
}

@include media-query(lap-and-up) {
}

@include media-query(desk) {
}
