// Color Palette
$color-red:         #ff0000;
$color-pink:        #FF4867;
$color-pink--light: #FFA68F;
$color-purple:      #5c4283;
$color-blue:        #107be8;
$color-blue--light: #0080E8;
$color-green:       #a1db30;
$color-orange:      #fe8346;
$color-white:       #FFF;
$color-gray:        #9EABB3;
$color-gray--light: #999;
$color-gray--ui:    #ddd;
$color-tint:        #f2f2f2;
$color-brown:       #8f5700;
$color-black:       #333;
$color-yellow:      #ffd21c;

// Semantic Colors
$color-brand:       $color-blue;
$color-paragraph:   $color-black;
$color-positive:    $color-green;
$color-negative:    $color-red;
$color-highlight:   rgba(0, 0, 0, 0.2);

// Buttons
$btn-color:           $color-white;
$btn-background:      $color-brand;
$btn-background--secondary: $color-gray--ui;

// Page
$inuit-base-background-color:   $color-white;
$inuit-base-text-color:         $color-paragraph;

// Links
$color-links:           $color-brand;

// Code
$color-code:            $color-black;
$color-pre-background:  $color-gray;
$color-pre:             #fff;

// Headings
$color-headings:    $color-gray;
$color-heading-sub: $color-gray;

// Quotes
$color-quote:           $color-gray--light;
$color-quote--banner:   $color-gray;
