@import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700,400italic|Roboto:400,700);

$fonts-code: 'Monaco', monospace;
$fonts-headings: 'Roboto', sans-serif;
$fonts-body: 'Source Serif Pro', serif;
$fonts-base: $fonts-body;
