// Color Palette
$color-red:         red;
$color-pink:        #FF4867;
$color-pink--light: #FFA68F;
$color-purple:      #633d4b;
$color-blue:        #57D6F2;
$color-blue--light: #0080E8;
$color-green:       #b6e33e;
$color-orange:      #FD7430;
$color-white:       #FFF;
$color-gray:        #9EABB3;
$color-gray--light: #999;
$color-gray--ui:    #ddd;
$color-tint:        #f2f2f2;
$color-brown:       #8f5700;

// Semantic Colors
$color-brand:       $color-purple;
$color-paragraph:   #3A4145;
$color-positive:    #3f990f;
$color-negative:    #9f102e;
$color-highlight:   $color-brand;

// Buttons
$btn-color:           $color-white;
$btn-background:      $color-brand;
$btn-background--secondary: $color-gray--ui;

// Page
$inuit-base-background-color:   $color-white;
$inuit-base-text-color:         $color-paragraph;

// Links
$color-links:           $color-brand;

// Text
$color-code:            $color-green;
$color-pre-background:  $color-gray;
$color-pre:             #fff;

// Headings
$color-headings:    $color-brand;
$color-heading-sub: $color-gray;

// Quotes
$color-quote:           $color-gray--light;
$color-quote--banner:   $color-gray;

// Boxes
$color-box-highlight-background:    $color-highlight;
$color-box-highlight-border:        $color-gray--ui;
$color-box-tint-background:         $color-tint;
