<header class="header header--{{path}}" role="banner">
    <div class="wrapper">
        <a class="header__logo" href="/"><span>{{ title }}</span></a>

        <nav class="nav">
            <a class="nav__link nav__link--twitter" href="https://twitter.com/{{twitter}}">
                <i class="fa fa-twitter"></i>
                <span>Twitter</span>
            </a>

            <a class="nav__link nav__link--github" href="https://github.com/{{github}}">
                <i class="fa fa-github"></i>
                <span>GitHub</span>
            </a>

            <a class="nav__link nav__link--blog" href="/blog">
                <i class="fa fa-book"></i>
                <span>Blog</span>
            </a>
        </nav>
    </div>
</header>
