---
layout: "master"
---

{% include header.html %}

<main role="main">
    <div class="wrapper">
        <article class="post">
            <header class="post__header">
                {% if page.date %}
                    <span class="post__meta">
                        <time class="post__timestamp" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>
                    </span>
                {% endif %}

                <h1 class="post__title">{{ page.title }}</h1>
            </header>

            <section class="post__body">
                {{ content }}
            </section>

            <footer class="post__footer">
            </footer>
        </article>
    </div>
</main>

{% include footer.html %}
