---
layout:      "master"
title:       "Blog"
description: "Notes and thoughts about development and other things."
permalink:   "blog/"
pagename:    "blog"
---

{% include header.html %}

<main role="main">
    <div class="wrapper">
        <ul class="posts">
            {% for post in site.posts %}
                <li class="posts__item">
                    <a class="posts__title truncate-text" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>

                    <time class="posts__timestamp" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                        {{ post.date | date: "%B %-d, %Y" }}
                    </time>
                </li>
            {% endfor %}
        </ul>
    </div>
</main>
