.footer {
    padding: $spacing-unit;
    color: $color-white;
    text-align: center;
    font: $fonts-base;

    p {
        margin: 0;
    }
}

.footer__legal {
    @include font-size(18px);
    text-transform: uppercase;
}

.footer__copyleft {
    transform: scaleX(-1);
    display: inline-block;
}
