// Font Stack
$fonts-source-serif-pro: 'Source Serif Pro', serif;
$fonts-raleway:          'Raleway', sans-serif;

// Semantic Fonts
$fonts-code:     monospace;
$fonts-headings: $fonts-raleway;
$fonts-body:     $fonts-source-serif-pro;
$fonts-lead:     $fonts-source-serif-pro;
$fonts-base:     $fonts-source-serif-pro;
