@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');

:root {
    --color-green: rgb(114, 221, 0); 
    --color-blue: rgb(1, 176, 240); 
    --color-pink: rgb(255, 55, 67);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
}

html {
    font-size: calc(1em + 0.3vw);
    font-family: 'Raleway', sans-serif;
}

body {
    color: var(--color-white);
    margin: 0;
}

a:link,
a:visited {
    color: var(--color-white);
    text-decoration: underline;
}

a:hover,
a:visited {
    color: var(--color-white);
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 320px) {
    .container {
        width: 80%;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    background: var(--color-green);
    height: 100vh;
}

.header-title {
    font-weight: 900;
    font-size: 4em;
    text-transform: uppercase;
    margin: 0;
}

.header-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 3em;
}

.head-nav-item {
    display: inline-block;
}

.main {
    padding: 2em 0;
    background: var(--color-blue);
}

.footer {
    padding: 2em 0;
    background: var(--color-pink);
}

.icon > svg {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
}

.icon > svg path {
    fill: var(--color-white);
}

nav {
    display: flex;
    justify-content: center;
} 

    nav ul {
        display: flex;
    }

        nav ul a {
            padding: 1rem 2rem;
        }

dl {
    padding-left: 2rem;
    margin: 1rem 0;
}

dt {
    margin-bottom: 0.5em;
}

dd {
    margin-bottom: 1.5em;
}
