body {
	max-width: 20rem;
	margin: 0 auto;
}

h1 { 
	font-size: 1.1rem;
	font-weight: bold;
	margin: 0;
}

h2 {
	font-size: 1.1rem;
	font-weight: bold;
}

a {
	font-style: normal;
	text-decoration: underline;
}

:root {
	--color-background: #fff;
	--color-foreground: #222;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #171717;
		--color-foreground: #fff;
	}
}

html {
	color: var(--color-foreground);
	font-size: 1.1rem;
	font-family: sans-serif;
}

body {
	padding: 0;
	margin: 0;
}
